.session-header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 10px;

}

.indivsession-wrapper{
    min-height: 100%;
}

.session-header a{
   text-decoration: none;
}

li {
    color: #0297a2;
    margin: 0 0.8rem;
    font-size: 1.5rem;
    position: relative;
    list-style: none;
}

.sessionlink li {
      border-bottom: 2px solid #0297a2;
  }



.chart-container{
    display: flex;
    flex-direction: row;
    font-size: 25px;

}
.hamstring-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
}
.quad-container{
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.individual-session-bar-chart-leftHam{
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.individual-session-bar-chart-rightHam{
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.individual-session-bar-chart-leftQuad{
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.individual-session-bar-chart-rightQuad{
    padding-right: 0.5vw;
    padding-left: 0.5vw;

}

