
.mypage-header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex

}

.mypage-header a{
   text-decoration: none;
}

li {
    color: #0297a2;
    margin: 0 0.8rem;
    font-size: 1.5rem;
    position: relative;
    list-style: none;
}

.current li {
      border-bottom: 2px solid #0297a2;
  }

body{
    height: 100%;
}