.container{
    height: 100%;
}

.login-wrapper{
   /* Copywrite free image taken from  https://unsplash.com/photos/lrQPTQs7nQQ */
    background-image: url('../Images/copyrightfreebackgroundlogin.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height:100%;
    position: relative;

}

.login-form{
    box-sizing: border-box; 
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.1cm;
}


.login-button {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    
    border: none;
    background-color: #DB6E20;
    font-family: 'Comfortaa', cursive;
    outline: solid 0.1px white;
    transition: outline 0.1s linear; 
    transition: background-color 0.1 linear;
    box-shadow: none;
    color:white;
}

.login-button:hover {
    outline: solid 2px #DB6E20;
    background-color: white;
    color: #DB6E20;
}

.form-control {
  background-color: white;
  padding:  10px;
  font-family: 'Comfortaa', cursive;
  margin: 10px 5px;
}