@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/*---- Header ----*/

.header {
  overflow: visible;
  background-color:#4365e2;
  padding: 20px 15%;
  transition: background-color 0.2s linear;
}

.theohealthlogo {
  float: left;
  display: inline-block;
  width: 120px;
  transition: filter 0.2s linear;
}

/*---- Body ----*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

    /*new*/
    height: 100%;
}

html {
    height: 100%;
}

.page-container {
    overflow: auto;
    min-height: 100%;
    position: relative; 

    /*new*/
    height: 100vh;
    display: flex; 
    flex-direction: column;

}

#root {
    height:100%;
}

.main{
  flex: 1;
}


/*---- Footer ----*/