.container{
    height: 200%;
}

.liveheatmap-wrapper{
    /* Copywrite free image taken from  https://unsplash.com/photos/lrQPTQs7nQQ */
     min-height:100%;
     position: relative;
 
 }

 .Heatmap{
    vertical-align: middle;
    width: 60%;
    height: 400px;
    border-style: double;
    position:center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url("../Images/legs3-0.png"); */

    
 }
 .heatmapContainer{
    position: sticky; 
    /* border-style: dotted;
    border-color: red; */
    padding-top: 5%;
    width: 50%;
    display:flex;
    justify-content: center;
    left: 25%;
    right: 50%;
}
 
 canvas{
    width: 100%;
    height: 100%;
 }
 
 